[data-tip] {
  cursor: help; }

.tooltipamo {
  width: 200px;
  padding: 5px 10px;
  background-color: #343536;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in 0s;
  -moz-transition: opacity 0.2s ease-in 0s;
  -ms-transition: opacity 0.2s ease-in 0s;
  -o-transition: opacity 0.2s ease-in 0s;
  transition: opacity 0.2s ease-in 0s; }

.is-active {
  z-index: 1;
  opacity: 1; }
